@model PizzaApp.Models.Identity.EditModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2 style="position:center">Edit profile</h2>*@


<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div style="font-size:larger">Edit Profile</div>
            <hr />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
        <div>
            @Html.ValidationSummary(true, "")
            <div>
                <div>New User name</div>
                <div class="text_1 div-data" style="width:contain">@Html.EditorFor(m=>m.Name, new { htmlAttributes = new { @class="form_control"} })</div>
                <br />
            </div>
            <div>
                <div>Email</div>
                <div class="text_1 div-data">@Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form_control" } })</div>
                <br />
            </div>
            <div>
                <div>Address</div>
                <div class="text_1 div-data">@Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form_control" } })</div>
                <br />
            </div>
            <div>
                <div>Phone Number</div>
                <div class="text_1 div-data">@Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form_control" } })</div>
                <br />
            </div>

            <div style="position: relative">
                <div style="width: fit-content; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;">
                        <input type="submit"  value="Edit" class="btn btn-dark mt-2" />
                        @*<a href="@Url.Action("Edit","Account")" class="btn btn-dark mt-2">Edit</a>*@
                        <a href="@Url.Action("Private","Account")" class="btn btn-dark mt-2">Cancel</a>
                </div>
            </div>
        </div>
               
            }
            


        </div>
    </div>




</div>
