@model PizzaApp.Models.Identity.ApplicationUser
@{
    ViewBag.Title = "Private";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<body>



    <h2 style="position:center">Account</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div style="font-size:x-large">Your Profile</div>
                <hr />
                <div>
                    <div>User name</div>
                    <div class="border text_1 div-data">@Model.UserName</div>
                    <br />
                </div>
                <div>
                    <div>Email</div>
                    <div class="border text_1 div-data">@Model.Email</div>
                    <br />
                </div>
                <div>
                    <div>Address</div>
                    <div class="border text_1 div-data">@Model.Address</div>
                    <br />
                </div>
                <div>
                    <div>Phone Number</div>
                    <div class="border text_1 div-data">@Model.PhoneNumber</div>
                    <br />
                </div>

                <div style="position: relative">
                    <div style="width: fit-content; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;">
                       
                        <form>
                            <a href="@Url.Action("Edit","Account")" class="btn btn-dark mt-2">Edit</a>
                            @*<a href="@Url.Action("Delete","Account")" class="btn btn-dark mt-2" >Delete</a>*@
                            <button type="button" id="myBtn" class="btn btn-dark mt-2">Delete</button>
                        </form>
                       
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <div style="float:right">
                    <span class="close">&times;</span>
                </div>
               
                @*<h2>Modal Header</h2>*@
            </div>
            <div class="modal-body">
                @*<div style="font:larger">
                    Are you sure you want to delete your account?
                </div>*@
                <p style="font-size:larger">Are you sure you want to delete your account?</p>
                <p>We'll miss you!'</p>
            </div>
            <div class="modal-footer">
                <form method="post">
                    @*<input type="submit" class="btn btn-dark mt-2" href="@Url.Action("Delete", "Account")" value="Delete" />*@
                    <a href="@Url.Action("Delete","Account")" class="btn btn-dark mt-2">Delete</a>
                    <button class="btn btn-dark mt-2" id="btnCancel">Cancel</button>
                </form>
                   
               
               
            </div>
        </div>

    </div>


    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];
        var btnOK = document.getElementById("btnOK");
        var btnCancel = document.getElementById("btnCancel");

        btn.onclick = function () {
            modal.style.display = "block";
        }

        span.onclick = function () {
            modal.style.display = "none";
        }

        btnCancel.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</body>
