@model PizzaApp.Models.CustomerViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
   table {
    width: 100%; /* Ширина таблицы */
    background: white; /* Цвет фона таблицы */
    color: black; /* Цвет текста */
    border-spacing: 10px; /* Расстояние между ячейками */
    padding:50px;
    
   }
    td, th {
        background: white; /* Цвет фона ячеек */
        padding: 5px; /* Поля вокруг текста */
        width: 100%;
        text-align: right;
        padding: 10px;
    }
   </style>



<h2>Register</h2>
<div class="container">
    @using (Html.BeginForm("Register", "Home"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div style="width: 400px; margin-left:auto; margin-right:auto; border: solid 1px black; text-align:center; padding:20px">
            <table>
                <tr>
                    <td>User Name</td>
                    <td align="left">@Html.TextBoxFor(m => m.Name)</td>
                </tr>
                <tr>
                    <td>Login</td>
                    <td align="left" width="100">@Html.TextBoxFor(m => m.Login)</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td align="left" width="100">@Html.TextBoxFor(m => m.Password)</td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td align="left" width="100">@Html.TextBoxFor(m => m.ConfirmPassword)</td>
                </tr>
                <tr>
                    <td>Delivery Address</td>
                    <td align="left" width="100">@Html.TextBoxFor(m => m.Address)</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td align="left" width="100">@Html.TextBoxFor(m => m.Phone)</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td align="left" width="100">@Html.TextBoxFor(m => m.Email)</td>
                </tr>

            </table>
            <button class="btn btn-secondary mt-2" type="submit">Register</button>

        </div>

    }

</div>

